@CHARSET "ISO-8859-1";

/*-------------------- Header---------------------- */

.list {
  color: white; 
    font-size: 20px;
     margin-left: 5%;
}
#fixedheader {
    background-color: #4c6680;
    height: 100%;
  
}
#qisonlogo {
    float: left;
}
#namebtn {
	 color: #ffffff;
    float: right;
    font-size: 20px;
    margin-right: 6%;
    margin-top: 1%;
}
#menudiv {
    float: left;
    margin-left: -1%;
    margin-top: 3%;
}
#span1 {
    margin-top: 8%;
}
#logout1 {
    margin-bottom: 0%;
    color:white;
    text-decoration:none;
}

/* --------------------container -----------------------*/
.leftcontainer1 {
  /*   border: 1px solid #ffffff; */
    color: #ffffff;
    margin-left:5%;
    min-height: 650px;
    width:90%;
    font-family:calibri;
   font-size: 15px;
}
/* --------------------footer -----------------------*/
.site-footer {
    background-color: #4c6680;
    text-align: center;
   color:white;
  
   padding:0.5%;
}
/* ------------------Edit template& add&edit all ands meeting----------------------- */
#fieldsaddtemplate,#fieldsaddhandsmeeting {
 /* border:1px solid black;*/
  background-color: #d3d3d3;
    color: #000000;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    padding: 10px;
}
.headingAll {
 color:#00246B;
margin-top: 3%;
 /*  margin-left: 10%; */
}

.tableHeadingAll {
  /* margin-left: 4%; */
   color:#00246B;
margin-top: 3%;
}
.mandatoryStar{
	  color: red;
    font-size: 18px;
 
}
.editAllHand{
	margin-top:0.5%;
}

/* .templatename{
	margin-left: 0.9%;
}*/

#templateContent{
	width:80%;
} 
/* #templateContent,#templatename,#tempsubject{
	margin-left:4.1%;

} */
 /* .container{
   background-color:white;
   min-height:100px;
   
  } */
  .submit2{
    margin-left: 45%;
     margin-bottom: 2%;
  }
  .submit1{
    margin-left: 45%;
  }
/*  view all hands meeting  */
.displayData{
	
      margin-left: 2%;
    width: 96%;
     border:1px solid black;
         border-collapse:collapse;
}
.allHandMeeting{
	margin-top: 2%;
}

td{
	 color:black;
}

.theader {
 background-color:#7094b8;
 color:black;
  font-size: 14px;
}
/* .theadereditAll{
	margin-left:45%
} */
.inputelement
{

 font-weight: bold;
}
#viewAll{
	background-color: lightgray;
	border: 0;
	text-align: left;
	 width:80%;
	  margin-left: 20%;
}
#viewAllTemp{
background-color: lightgray;
	border: 0;
	text-align: left;
	 width:80%;
	  margin-left: 9%;	
}
/* #editdescription,#editemployee,#editdatepicker{
	margin-left: 0%;
}
#employeeAll,#description,#datepicker{
	margin-left: 0%;
} */