@CHARSET "ISO-8859-1";

/*-------------------- Header---------------------- */

.list {
  color: white; 
    font-size: 20px;
     margin-left: 5%;
}
#fixedheader {
    background-color: #4c6680;
    height: 100%;
  
}
#qisonlogo {
    float: left;
}
#namebtn {
	 color: #ffffff;
    float: right;
    font-size: 20px;
    margin-right: 6%;
    margin-top: 1%;
}
#menudiv {
    float: left;
    margin-left: -11%;
    margin-top: -1%;
}
#span1 {
    margin-top: 8%;
}
#logout1 {
    margin-bottom: 0%;
}

/* --------------------container -----------------------*/
.leftcontainer1 {
  /*   border: 1px solid #ffffff; */
    color: #ffffff;
    margin-left:5%;
    min-height: 650px;
    width:90%;
    font-family:calibri;
   font-size: 15px;
}
/* --------------------footer -----------------------*/
.site-footer {
    background-color: #4c6680;
    text-align: center;
   color:white;
  
   padding:0.5%;
}
/* ------------------Edit template& add&edit all ands meeting----------------------- */
#fieldsaddtemplate,#fieldsaddhandsmeeting {
 /* border:1px solid black;*/
 padding:10px; 

 font-weight:bold;
 color:black;
  background-color: lightgray;
}
.heading {
 color:brown;
margin-top: 3%;
}

.tableHeading {
  margin-left: 4%;
   color:brown;
margin-top: 3%;
}
.mandatoryStar{
	  color: red;
    font-size: 21px;
 
}
.editAllHand{
	margin-top:0.5%;
}

.templatename{
	margin-left: 0.9%;
}

#tempsubject{
	margin-left:6.5%;
}
.templateContent{
	width:80%;
}
 .container{
   background-color:white;
   
  }
  .submit2{
    margin-left: 50%;
     margin-bottom: 2%;
  }
  .submit1{
    margin-left: 25%;
  }
/*  view all hands meeting  */
.displayData{
	
      margin-left: 5%;
    width: 90%;
     border:1px solid black;
         border-collapse:collapse;
}


td{
	 color:black;
}

.theader {
 background-color:#7094b8;
 color:black;
}
.inputelement
{
 font-size:15px;
 font-weight: bold;
}

.datepicker{
	margin-left: 9.5%;
}

#editdescription,#description{
	margin-left: 8.5%;
}