<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://192.168.10.4/HRMS</property>
		<property name="hibernate.connection.username">hrms</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.pool_size">8</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>

		<mapping class="com.hred.model.User" />
		<mapping class="com.hred.model.Template"/>
        <mapping class="com.hred.model.Employee"/>
		<mapping class="com.hred.model.Skills"/>
		<mapping class="com.hred.persistence.model.IdCounter"/>
		<mapping class="com.hred.model.File" />
		<mapping class="com.hred.model.SendNotificationHistory" />
		<mapping class="com.hred.model.DesignationHistory"/>
		<mapping class="com.hred.model.DesignationType" />
		<mapping class="com.hred.model.HRPolicy" />
		<mapping class="com.hred.model.AllHandsMeeting" />
		<mapping class="com.hred.model.Holiday" />

	</session-factory>
</hibernate-configuration>
