h3
{
 color:brown;
 margin-left:3%;
}

.alignInput
{margin-left:10%;}

.alignInputSave
{margin-left:40%;}

#addPolicy{
	background-color: lightgray;
	width:100%;
	height:100%;
	margin-left:3%;
	font-family:calibri;
}
.star{color:red; font-size:20px;}

.inputelement
{
	font-size:12px;
	font-weight: bold;
}

.errorMessage
{
	color:red; font-size:11px;
}
