

.tr {
	border: 1px solid #CCC;
	color: black;
	font-family: Calibri;
	font-size: 100%;
	height: 100%;
	width: 100%;
	background-color: #CCC;
}

.th {
	text-align: left;
	vertical-align: top;
	border: 1px solid #CCC;
	background-color: #CCC;
}

.th1 {
	text-align: right;
	vertical-align: top;
	border: 1px solid #CCC;
	background-color: #CCC;
}
.td1 {
	vertical-align: top;
	border: 1px solid #CCC;
	background-color: #CCC;
}
.td {
	vertical-align: top;
	border: 1px solid #CCC;
	background-color: #CCC;
}

.bar {
	color: #00246B;
	margin-left:2%;
}

.error {
	color: red;
}

.container {
	background-color: #FFF;
}

.leftContainer {
	background-color: #FFF;
}

.rightContainer {
	background-color: #FFF;
}

.ui-datepicker {
	background: #CCC;
	border: 1px solid #66F;
	color: #000;
}

.savealign{
	margin-left:35%;
}
#alignaddemp{
	margin-left:40%;
}
#buttonsdiv{
	padding-left:2%;
}
#backchangepassword{
	margin-left:2%;
}
#displayDatatemplist,.templisttr,.temlistth,.templisttd{
	border:1px solid black;
	border-collapse:collapse;
	
}
.temlistth{
 background-color:#7094b8;
 color:white;
}
.templisttr,.temlistth,.templisttd{
	text-align:center;
}
.templisthead{
	margin-top:2%;
	 color: #00246B;
}
#btnaddtemp{
	margin-top:2%;
	margin-bottom:1%;
}
#displayDatatemplist{
	margin-left:15%;
	width:70%;
}
#updateemp{
  margin-left:45%;
}
#backtoprofile{
 margin-left:2%; 
}
#backtohrview{
	margin-left:2%;
}
.hreditbuttons{
	margin-left:40%;
}