
.table {
	border: 1px solid white;
	width: 100%;
	text-align: left;
	font-size:12px;
	text-decoration: blink;
}
.tr {
	border: 1px solid #CCC;
     color: black;
     font-family: Calibri;
     font-size: 100%;
     height: 100%;
     width: 100%;
  	background-color:#CCC;
}

.th {
	border: 1px solid #CCC;
    background-color:#CCC;
}
.td{
	border: 1px solid #CCC;
	background-color:#CCC;
}
.bar {
     color: brown;
}

.bar {
	color: brown;
}

.error {
	color: red;
}

.container {
	 
	 background-color: #FFF; 
}
.leftContainer {
	 background-color: #FFF; 

}
.rightContainer{
	background-color: #FFF; 
}
.ui-datepicker {
	
    background: #CCC;
    border: 1px solid #66F;
    color: #000;
}
#btnadd{
	float:right;
}

