
.table {
	width: 50%;
	text-align: left;
	text-decoration: blink;
}

.tr {
	height: 50%;
	width: 50%;
	font-size: 100%;
	font-family: Calibri;
}
.th {
	color: black;
}

.bar {
	color: brown;
}

.error {
	color: red;
}

/* .container {
	background-color: #CCF;
}
.leftContainer {
	background-color: #CCF;
} */
.ui-datepicker {
    background: #CCC;
    border: 1px solid #66F;
    color: #000;
}

