h3{
 	color:brown;
 	margin-left:3%;
}
#desigantionform
{
	background-color: lightgray; 
	width:60%;
	height:100%;
	margin-left:3%;
	font-family:calibri;
}
#appraisal
{
	background-color: white; 
	width:70%;
	height:100%;
	margin-left:3%;
	font-family:calibri;
}
.star1{color:red; font-size:20px;}

.ui-datepicker {
    background: #CCC;
    border: 1px solid #66F;
    color: #000;
}
.inputelement
{
	font-size:12px;
	font-weight: bold;
	width:100%;
}
.errorMessage
{color:red; font-size:11px;}

.alignInputDOJ
{margin-left:8%;}

.alignInputName
{margin-left:21%;}

.alignInput
{margin-left:20%;}

#isDesignationEmpty
{
	float:right;
	margin-right:23%;
}
.alignInputSave
{margin-left:40%;}

#isVPEmpty
{
	float:right;
	margin-right:28%;
}
table
{font-size:12px}
th{
 background-color:#7094b8;
}
