#desHeading
{
  font-size:20px;
  color:brown;
  font-weigt:bold;
  margin-left:3%;
  margin-top:1%;
  margin-bottom:1%;
  font-family:calibri;

}

.desigantionform
{
	background-color: lightgray; 
	width:57%;
	height:100%;
	margin-left:3%;
	font-family:calibri;
}
#appraisal
{
	background-color: white; 
	width:70%;
	height:100%;
	margin-left:3%;
	font-family:calibri;
}
.mandatoryStar{color:red; font-size:12px;}

.ui-datepicker {
    background: #CCC;
    border: 1px solid #66F;
    color: #000;
}
.desTable {
  border: 0px solid black ;
  border-collapse: separate;
  background-color: lightgray;
}

.desColumn {
  border: 0px solid black ;
  background-color: lightgray;
  padding: 19px;
  text-align:left;
}
.desBColumn
{
  border: 0px solid black ;
  background-color: lightgray;
  padding: 19px;	
}
.desHead
{
 text-align:left;
 background-color: lightgray;
 border: 0px solid black ;
}

.errorMessage
{color:red; font-size:11px;}

.container {
    background-color: #fff;
}
.appraisalTable
{font-size:12px}
.DesHeadColr{
 background-color:#7094b8;
}