						
<div>
<div class="heading">
<h3>Add Template</h3>
</div>
<p id="fileId" class="hide"></p>
<div id="fieldsaddTemplate" class="inputelement">
Template Name<span class="star">*</span>:<input type="text" class="templatename"/><br><br>

Subject<span class="star">*</span>:<input type="text" class="subject"/><br><br>

content<span class="star">*</span> :<br>
  <textarea rows="15" cols="50" class="content" id="editor1" name="editor1"></textarea><br><br>

 <input type="button" class="submit btn btn-primary btn-md" value="save">
</div>
</div>


  <!--   <script type="text/javascript">
	
		var editor = CKEDITOR.instances['editor1'];
    	if (editor) { editor.destroy(true); }
		CKEDITOR.replace( 'editor1',
			{
				fullPage : false,
				//filebrowserBrowseUrl : '/qspplatform/browse/BrowseServlet',
				filebrowserUploadUrl : '/UploadServlet',
				//filebrowserImageBrowseUrl : '/qspplatform/browse/BrowseServlet',
				filebrowserImageUploadUrl : '/UploadServlet',
				filebrowserWindowWidth  : 800,
				filebrowserWindowHeight : 500
			});
	
	</script> -->
