<div>
<div class="heading">
<h3 >Edit Template</h3>
</div>
<div id="fieldsaddtemplate" >
Template Name <span class="red">*</span>:<input type="text" class="templatename"/><br><br>

Subject <span class="red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input type="text" class="subject"/><br><br>

content <span class="red">*</span>:<br>
  <textarea rows="15" cols="50" name="templateContent" id="templateContent" class="templateContent"></textarea><br><br>
  <input type="button" class="submit btn btn-primary btn-md" value="update" id="updtae" class="updtae"/>
</div>
</div>

