<div>
<div >
<legend><h1 class="headingAll" id="edittemphead">Edit Template</h1></legend>
</div>
<p id="fileId" class="hide"></p>
<div id="fieldsaddtemplate"  class="inputelement">
<table id="viewAllTemp">
<tr><th>Template Name<span class="mandatoryStar">*</span></th><td class="theadereditAll"><input type="text" class="templatename" id="templatename" maxlength="40" minlength="2"/></td></tr>

<tr><th>Subject<span class="mandatoryStar">*</span></th><td class="theadereditAll"><input type="text" class="subject" id="tempsubject" /></td></tr>

<tr><th>Description<span class="mandatoryStar">*</span></th><td class="theadereditAll"><textarea rows="15" cols="50" name="templateContent" id="templateContent" class="templateContent"></textarea></td></tr>
  </table>
  <br>
  <div><center>
  <button id="back" class="btn btn-primary btn-md">Back</button>
  <input type="button" class="submit2 btn btn-primary btn-md" value="Update" id="updtae" class="updtae"/></center></div>
</div>
</div>