#headNotification
{
   color:brown;  
  
}
#retriveDataNotification{
    float: right;
   margin-top: -3%;
    margin-right: 2%;
}
#datedataNotification
{
	float:right;
	pading:10px;
}

#EventsNotification {
    float: left;
    margin-left: 1%;
    margin-top: 0%;
}
#Notificationhome {
    margin-left: 2%;
    margin-top: 3%;
    width: 95%;
}
h1
{
	color:brown;
	 margin-left: 35%;
}
#extraActionsNotification
{
padding-top: 3%;
}
#Notificationhome
{
background-color:lightgrey;
}
.dynamicSend
{
	margin-top: 1px;
}