
#headNotification {
    color: brown;
}
#retriveDataNotification {
   margin-left: 45%;
}
#datedata {
    float: left;
    margin-left: 2%;
    margin-top: -2%;
}
#eventsNotification {
    float: left;
    margin-left: 11%;
    margin-top: -2%;
}

#h1Notification {
    background-color: #f9f9f9;
    border-bottom: 1px solid #d4d4d4;
     color: #6abc42;
    float: left;
    font-family: icon;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    padding: 20px 0 20px 20px;
    text-align: left;
    width: 98.3%;
}
#backnotificationhome{
	margin-left:2%;
	margin-bottom:1%;
	visibility: hidden;
}
#extraActionsNotification {
    padding-top: 3%;
}
#dataTableNotification {	
   
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.dynamicSend {
    margin-top: 1px;
}
.mandatory {
    color: red;
    font-size: 12px;
}
.thNotification {
    background-color: #7094b8;
    color:white;
}
#selectevent {
    margin-left: 2%;
}
#criteriasfornotifications{
margin-top:8%;
}
#notificationsdisplay th,#notificationsdisplay td,#displayData1 th,#displayData1 td
{
    border-left: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    border-top: none;    
    padding: 4px;
    text-align: left;
    vertical-align: middle;
}
#notificationsdisplay th:last-child,#notificationsdisplay td:last-child,#displayData1 th:last-child,#displayData1 td:last-child
{
    border-right: 1px solid #afafaf;
} 
