#NotificationArea
{
    border-style: solid;
    border-width: medium;
      position: fixed;
    top: 10%;
    right:2%;
    height:100px;
    width:15%;
    
}
#NotificationHeading
{   border-style: solid;
    border-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color:#3399FF;
	font-weight: bold;
	text-align: center;
}