
#headNotification {
    color: brown;
}
#retriveDataNotification {
    margin-left: 32%;
    margin-top: 0%;
}
#datedata {
    float: left;
    margin-left: 5%;
}
#EventsNotification {
    float: left;
    margin-left: 1%;
    margin-top: 0;
}
#Notificationhome {
    margin-left: 2%;
    margin-top: 3%;
    width: 95%;
}
h1 {
    color: brown;
    margin-left: 44%;
}
h3 {
    color: brown;
    margin-left: 44%;
}
#extraActionsNotification {
    padding-top: 3%;
}
#dataTableNotification {
    background-color: lightgrey;
    margin-top: 3%;
}
.dynamicSend {
    margin-top: 1px;
}
