.tableviewEmployee {
     border: 1px solid white;
     font-size: 15px;
     margin-left: 9%;
     margin-bottom:2%;
     text-decoration: blink;
     width: 80%;
}

.trviewEmployee {
     background-color: #cccccc;
     border: 1px solid #cccccc;
     color: black;
     font-size: 100%;
     height: 100%;
     text-align: left;
     width: 100%;
}

.thviewEmployee {
     background-color: #cccccc;
     border: 1px solid #cccccc;
     padding: 10px;
 
}

.td {
     background-color: #cccccc;
     border: 1px solid #cccccc;
}

.heading {
     color:#00246B;
     margin-left: 9%;
}

#employeeimage {
     left: 30%;
     margin-top: 2%;
     position: relative;
     right: 2px;
}
#marginDetail{
text-align:center;
	font-size:30px;
	font-weight:strong;
}

.editviewEmployee {
     left: 50%;
     position: relative;
     right: 2px;
  margin-top:2%;
  margin-bottom:2%;
}
#back{
   margin-left:9%;
}
.container {
     background-color: #ffffff;
}

.leftContainer {
     background-color: #ffffff;
}

.rightContainer {
     background-color: #ffffff;
}

#save {
     text-align: center;
}
#addtemp{
	margin-left:2%;
	margin-right:2%;
}
#alignment {
  margin-left:25%;
  margin-top:2%
}

#fieldsaddTemplate {
     font-weight: bold;
     padding: 10px;
     margin-bottom:3%;
}

.startemplate {
     color: red;
     font-size: 14px;
}

#align {
     margin: 2.1%;
}

.inputelement {
     font-size: 15px;
     font-weight: bold;
}
