body {
	margin: 0px;
	padding:  0px;   
	background-color:#FFFFFF; 
}

.header{
	height:100px;
	width:100%;
}

.container{
	display: block !important;
	width:90%;
	margin-left:10%;
	height:1%;

	
}

.footer{
clear:both;
}

.table {
	color: #ffffff;
}

