@charset "ISO-8859-1";

.holidayhead, .emphead, .hrhead, .empholidayhead {
     color: brown;
     margin-left: 40%;
     margin-top: 3%;
}

h3 {
     color: brown;
}

p {
     font-family: Verdana,Arial,sans-serif;
     font-size: 1em;
}

.left {
     float: left;
     margin-top: 4%;
     position: relative;
}

#update {
     visibility: hidden;
}

.descrpdiv {
     float: left;
     margin-top: 7%;
     position: absolute;
}

#display {
     padding-left: 3%;
     padding-right: 3%;
     padding-top: 3%;
}

#main {
     float: right;
     margin-right: 100px;
     margin-top: 4%;
     position: relative;
}

.ui-datepicker {
     background: none repeat scroll 0% 0% #cccccc;
     border: 1px solid #6666ff;
     color: #000000;
}

.holidayerror {
     color: red;
     font-size: 12px;
     font-style: italic;
     visibility: hidden;
}

#fields {
     background: none repeat scroll 0% 0% #cccccc;
     height: 230px;
     margin-left: 2%;
     margin-top: 2%;
     padding-left: 1%;
     width: 72em;
}

.inputelement {
     font-size: 15px;
     font-weight: bold;
}

.holidaystar {
     color: red;
     font-size: 20px;
}

#policylist, #holidaylist, #listemp {
     background: none repeat scroll 0% 0% white;
     border: 1px none black;
     padding-left: 3%;
     padding-right: 3%;
     padding-top: 8%;
}

#searchdiv {
     float: right;
     height: 60%;
     padding-left: 60%;
     padding-right: 2%;
     padding-top: 2%;
     width: 20%;
}

.navbuttons {
     float: right;
     padding-bottom: 2%;
     padding-right: 3%;
     padding-top: 1%;
}
.buttons{
    margin-top:20%;  
}