@CHARSET "ISO-8859-1";

.heading{
	text-align:center;
	background-color:#666;
	 font-weight:bold;
}

#fields {
margin-left:auto;
margin-right:auto;
width:50em;
}
p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

.left {
	position: relative;
	float: left;
	
	
}
#update{
	visibility: hidden;
}
.right {
	position: relative;
       float: right;
	   
}	

.red{
	color:red;
	font-size: 20px;
	}

.description {
	position : relative;
	float:left;
	

}
#main {
	position: relative;
	float: right;
	margin-right:30px;
}

.table{
 position:relative;
 width: 100%;
 padding-left:5%;
 padding-right:1%;
 border:1px solid black;
 margin-right:auto;
 margin-left:auto;
_margin-right:auto;
_margin-left:auto;
}
.ui-datepicker {
    background: #CCC;
    border: 1px solid #66F;
    color: #000;
}

.error{
	visibility:hidden;
	color:red;
	font-style: italic;
	font-size: 12px;
}
