.tble,.skillth,.skilltd,.skilltr{
	border: 1px solid black;
	border-collapse:collapse;
	text-align:center;
	margin-left:2%;
	font-family: Calibri;
 	font-size:15px;

}
.data1,.skillth,.skilltd,.skilltr{
	border: 1px solid black;
	border-collapse:collapse;
	text-align:center;
	margin-left:2%;
	font-family: Calibri;
 	font-size:15px;

} 


.skillth{
	  background-color:#7094b8;
	  color:white;
}
.skillth,.skilltd{
	font-size:15px:
	 
}
#backskill{
 margin-left:-93%;
}
#backfilter{
 margin-left:2%;
/*  margin-bottom:1%; */
}
.red{
	color:red;
	font-size:15px;
}
#right{
	margin-left:40%;
}
.body1{
background-color: lightgray; 
width:96%;
height:190%;
margin-left:2%;
/* text-align:center; */

font-family:calibri;
}

.filtercriteria{
	
	text-align:left;
}

.head1{
	font-weight: bold;
 	color:red;
  	margin-left:5%;
  	font-family: Calibri;
  	 
}

.heading1
{
	text-align:center;
	color:#00246B;
    visibility:hidden;
  
}
.p{
	margin-left:12%;
	color:red;
	
}
.e1{
	margin-left:8%;
	color:red;
	
}
.align{
	text-align:center;
	color:#00246B;
}

.div{
	font-family: Calibri;
	font-size:15px;
	font-weight: bold;
}  


.element
{
  font-size:15px;
  font-weight: bold;
  font-family: Calibri;
  margin-bottom:1%;
} 

.inputelement2
{
	 font-size:15px;
 font-weight: bold;
   margin-left:1%;
} 
#displayData{
	margin-left:1%;
	 table-layout: fixed;
    width: 95%;
}
td{
	 word-wrap:break-word;
}
#displayData,.displaytr,.displayth,.displaytd{
	
	border:1px solid black;
	border-collapse:collapse;
	
	
}
.displayth{
	 background-color:#7094b8;
	 color:white;
}

#backtoemp{
	margin-bottom:1%;
	margin-left:5%;
}
.noteforrating{
	margin-left:10%;
	color:#D14719;
	font-size:12px;
	font-style: italic;
}
.filtable
{
	 font-size:15px;
 font-weight: bold;
   margin-left:3%;
} 
.filtd,.filtable,.filtr,.filth{
    background-color:lightgray;
    border:none;
    border-collapse:collapse;
    padding:5px;
} 
#backfilter, #Filter, #reset {
     margin-bottom: 1%;
     margin-top:3%;
}
#filterdesignation,#emptype,#gender{
	width:100%;
}
.skilltable,.inputtr,.inputth,.inputtd{
	background-color:lightgray;
	padding:20px;
	  margin-left:2%;
	  margin-bottom:2%;
}
.buttonstable,.buttonstr,.buttonstd{
	background-color:lightgray;
}

.buttonstable {
     margin-left:40%;
}

#displayDataskill {
  margin-left:5%;
     width: 90%;
}
#displayDataskill th, #displayDataskill td{
  text-align:center
}