#name{
position:absolute;
margin-left:73px;
margin-top:56px;		
}
#tempName{
position:absolute;
margin-left:185px;
margin-top:56px;		
}
#subject{
position:absolute;
margin-left:73px;
margin-top:85px;		
}
#tempSubject{
position:absolute;
margin-left:185px;
margin-top:85px;		
}
#content{
position:absolute;
margin-left:73px;
margin-top:109px;		
}
#tempContent{
position:absolute;
margin-left:185px;
margin-top:109px;		
}
