


<center><legend><h1>Template View</h1></legend></center>
<!-- <div  class="common" id="nameTemp">Name</div>
<div  class="templateName1" id="nameTemplate"></div>


<div class="common" id="subTemp">Subject</div>

<div  class="templateSubject1" id="subjectTemplate"></div>


<div  class="common" id="conTemp"><span id="descTemp">Description</span></div>

<div  class="templateContent1" id="contentTemplate"></div>

 -->
<div id="fieldsaddTemplate" class="inputelement">
Template Name<input type="text"  class="templateName1" id="nameTemplate"/><br><br>

Subject<span id="alignviewtemp"></span><input type="text" class="templateSubject1" id="subjectTemplate"/><br><br>

Description<br>
 <div  class="templateContent1" id="contentTemplate"></div>
</div>


 <button type="button" class="btn btn-primary" id="backButton">Back</button>
