
.list {
    color: #4c6680;
    font-size: 20px;
}
#fixedheader {
    background-color: #4c6680;
    height: 100%;
    width: 90%;
}
#qisonlogo {
    float: left;
}
#namebtn {
    float: right;
    font-size: 20px;
    margin-right: 6%;
    margin-top: 1%;
}
#menudiv {
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}
#span1 {
    margin-top: 8%;
}
#logout {
    margin-bottom: 0%;
}
