.list {
	position:absolute;
    color: #4c6680;
    font-size: 20px;
}

#fixedheader {
    background-color: #4c6680;;
    height: 99%;
    width: 100%;
}

#qisonlogo {
	float: left;    
}

/* #namebtn {
    float: right;
    font-size: 20px;
    margin-right: 6%;
    margin-top: 1%;
} */

#menudiv {

   	float: left;    
   	 margin-top: 4%;
}

#logout {
/* 	 position:absolute;
    left:1028px;
    top:51px; */
    color:#FFFFFF;
	 margin-left: 65%;
    margin-top: 3.4%;
}

#employeeName{
   color: #ffffff;
    margin-left: 79%;
    position: absolute;
    top: 5%;
    
}
th{
	text-align:center;
}

