.list {
	position:absolute;
    color: #4c6680;
    font-size: 20px;
}
#fixedheader {
	
    background-color: #17314b;
    height: 100%;
    width: 90%;
}
#qisonlogo {
	
    float: left;
}
/* #namebtn {
    float: right;
    font-size: 20px;
    margin-right: 6%;
    margin-top: 1%;
} */
#menudiv {
	
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}
#span1 {
    position:absolute;
    left:1121px;
    top:15px;
    
}
#logout {
	 position:absolute;
    left:1121px;
    top:40px;
    color:#FFFFFF
    
}
