/*#fixedheader {
    background-color: #ffffff;
	border-bottom: 5px solid #f58220; 
    padding: 10px 15px 0px 15px;
    width: 97.8%;
    float:left;
    height:40px;
}

#qisonlogo {
 float: left;
 position:relative;
  top:-3px;
}

 #namebtn {
    float: right;
    font-size: 20px;
    margin-right: 6%;
    margin-top: 1%;
} 

#menudiv1 {
   float: left;
    font-size: 20px;
    margin-left: 50px;
    position: relative;
    top:4px;
}*/

#menudiv2 {
	margin-bottom: 0px;
}


.logoutCorner {
  color: white;
   font-size: 20px;
 /*  left: 1157px; */
  position: relative;
  float:right;
  top: 14px; 
  right:10px;

}
.tabColor{
	 color: #337ab7;
    font-family: calibre 11;
    font-size: 18px;
    font-weight:bold;
}
.empName{
    color: #337ab7;
    font-family: calibre 11;
    font-size: 18px;
    font-weight:bold;
}
#log{
	color: #337ab7;
    font-family:calibre 11;
    font-size: 18px;
    font-weight:bold;
}

#imagesinhome {
	margin: 20px 0px 20px 20%;
}
.galleria
    {
     width: 700px; 
     height: 400px;
      background: #ffffff;
     
     }
 .galleria-errors { display: none !important; }


#fixedheader .topHeader {
	box-shadow: none;
	background-color:  none;
	width: 1170px;
	margin: 0px auto;
}