#table{
 	  color: black;
  bottom: 300px;
  font-size: 15px;
  left: 202px;
  margin-left: 6px;
  margin-top: 457px;
  position: relative;
  width: 60%;
}

.tableHeading{
    background-color: #7094b8;
    color: #000000;
    border: 1px solid black;
    border-collapse:collapse;
     height: 26px;
  width: 30%;
    
}
#tableColumn{
	 border: 1px solid black;
	 text-align:center;
	  height: 26px;
	   border-collapse:collapse;
}

#tableColumn1{
	 border: 1px solid black;
	  height: 26px;
	 text-align:center;
	   border-collapse:collapse;
}

#tableColumn2{
	 border: 1px solid black;
	 text-align:center;
	 height: 26px;
	  border-collapse:collapse; 
}

.container{
	background-color:#ffffff;
}
.tableEmployee{
	 border: 1px solid black;
}
