
#name{
position:absolute;
left:108px;
top:24px;
}
#gender{
position:absolute;
left:319px;
top:24px;
}
#phnNum{
position:absolute;
left:543px;
top:24px;
}
#empName{
position:absolute;
left:108px;
top:40px;
}
#empGender{
position:absolute;
left:319px;
top:40px;
}
#empPhnNum{
position:absolute;
left:543px;
top:40px;
}
#image{
	height:50%;
	width:50%;
}